/* SITEWIDE STYLES */

html {
	position: relative;
	min-height: 100%;
}

body {
	font-family: 'Bitter', serif;
	font-size: 15px;
}

.body-bright,
.body-dark {
	margin-bottom: 95px;/* Must correspond to footer height */
}

.body-bright {
	background: #ffffff;
}

.body-dark {
	background: #000000;
}

.body-bright,
.body-bright a.inconspicuous-link:link,
.body-bright a.inconspicuous-link:visited {
	color: #6a5858;
}

.body-dark,
.body-dark a.inconspicuous-link:link,
.body-dark a.inconspicuous-link:visited {
	color: #ffffff;
}

a:link,
a:visited,
.body-dark a.inconspicuous-link:hover,
.body-dark a.inconspicuous-link:active {
	color: #b73336;
	text-decoration: none;
}

a:hover,
a:active,
.body-bright a.inconspicuous-link:hover,
.body-bright a.inconspicuous-link:active {
	color: #7c2324;
	text-decoration: none;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
	margin-top: 0;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4 {
	font-weight: bold;
}

h5, .h5 {
	font-style: italic;
}

.bold {
    font-weight: bold;
}

.ital {
    font-style: italic;
}

.smaller {
	font-size: 90%;
}

.tight {
	margin: 0 0 0.2em 0;
	padding: 0;
}

.btn-default {
	border-style: none;
}

.btn-default:link,
.btn-default:visited {
	color: #ffffff;
	background-color: #b73336;
}

.btn-default:hover,
.btn-default:active {
	color: #ffffff;
	background-color: #6a5858;
}

img {
	-ms-interpolation-mode: bicubic;
	image-rendering: auto;
}

/* HR */

.hr-full,
.hr-banner-footer {
	height: 1px;
	margin: 20px 0;
}

.hr-small {
	height: 3px;
	width: 100px;
	margin: 2em 0;
    clear: both;
}

.body-bright .hr-full,
.body-bright .hr-banner-footer,
.body-bright .hr-small {
	background: #eeeeee;
}

.body-dark .hr-full,
.body-dark .hr-banner-footer,
.body-dark .hr-small {
	background: #b73336;
}

/* BANNER */

.body-bright .logo-dark,
.body-dark .logo-bright {
	display: none;
}

.banner .row {
	margin-top: 15px;
	min-height: 100px;
}

.banner .row div {
	margin-top: 20px;
}

.banner {
    font-size: 1em;
}

.banner ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.banner ul li {
	display: inline-block;
	margin-right: 1.5em;
	line-height: 30px;
}

.banner a:link,
.banner a:visited {
	color: #b09e9e;
}

.body-bright .banner a:hover,
.body-bright .banner a:active {
	color: #302828;
}

.body-dark .banner a:hover,
.body-dark .banner a:active {
	color: #ffffff;
}

.banner .logline p {
	font-size: 90%;
	line-height: 30px;
}

#bio.body-bright .bio,
#purpose.body-bright .purpose,
#blog.body-bright .blog,
#portfolio.body-bright .portfolio,
#video.body-bright .video,
#photos.body-bright .photos,
#experiments.body-bright .experiments {
	color: #302828;
	font-weight: bold;
}

#bio.body-dark .bio,
#purpose.body-dark .purpose,
#blog.body-dark .blog,
#portfolio.body-dark .portfolio,
#video.body-dark .video,
#photos.body-dark .photos,
#experiments.body-dark .experiments {
	color: #ffffff;
	font-weight: bold;
}

#purpose .logline,
#blog .logline,
#portfolio .logline,
#video .logline,
#photos .logline,
#experiments .logline,
#error .logline {
    display: none;
}

/* FOOTER */

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 95px;/* Set the fixed height of the footer here - must correspond to body margin-bottom */
}

.footer span {
	display: inline-block;
}

.footer #backToTop {
	float: right;
	display: none;
}

/* SIDEBAR */

#sidebar {
	font-size: 95%;
}

#sidebar div {
	margin-bottom: 1.7em;
}

#sidebar h4 {
	font-size: 100%;
    text-transform: uppercase;
}

#sidebar p {
	padding: 0;
	margin: 0;
	line-height: 200%;
}

#sidebar .side-h,
#sidebar .side-v {
	list-style-type: none;
	list-style-position: inside;
	padding: 0;
	margin: 15px 0 0 0;
}

#sidebar .side-v li {
	margin-top: 0.6em;
}

#sidebar .side-h li {
	display: inline-block;
	margin-right: 0em;
}

#sidebar #blogBox {
	display: inline-block;
	padding: 5px;
}

.body-bright #sidebar #blogBox {
	background-color: #fbf5f5;
}

.body-dark #sidebar #blogBox {
	background-color: #301111;
}

#sidebar .collapse-all,
#sidebar .expand-all {
	cursor: pointer;
}

#sidebar .collapse-all {
	padding-left: 6px;
	padding-right: 3px;
}

#sidebar .expand-all {
	padding-left: 3px;
	padding-right: 6px;
}

/* BLOG NAVIGATION - element of sidebar */

#blogNav,
#blogNav ul {
	list-style-type: none;
	list-style-position: inside;
	padding: 0;
}

#blogNav ul ul {
	padding-left: 22px;
}

#blogNav .years {
	margin-bottom: 1em;
}

#blogNav .months,
#blogNav .posts {
	margin-top: 0.5em;
}

#blogNav .mClick {
	cursor: pointer;
}

#blogNav .archive_posts {
	display: none;
}

#blogNav .current {
	font-weight: bold;
}

/* BLOG */

.leaf {
	display: inline-block;
	margin-left: 0.5em;
	width: 30px;
	height: 17px;
	background: url(/images/leaf.svg);
	background-size: 30px 17px;
}

#blog a.inconspicuous-link p {
	font-size: 95%;
}

/* BLOG SHARE BUTTONS */

#share ul {
	list-style-type: none;
	list-style-position: inside;
	padding: 0;
	margin: 20px 0 -20px 0;
}

#share ul li {
	display: inline-block;
	margin-right: 0em;
}

#share a {
	font-size: 1.4em;
}

#share a.tweet:hover {
	color: #00aced;
}

#share a.fbShare:hover {
	color: #3b5998;
}

#share a.googleShare:hover {
	color: #dd4b39;
}

#share a.redditShare:hover {
	color: #ff4500;
}

/* SPACIOUS STYLES - for how much breathing room text should have */

.spacious0 li,
.spacious0 p,
.spacious0 h1, .spacious0 .h1,
.spacious0 h2, .spacious0 .h2,
.spacious0 h3, .spacious0 .h3,
.spacious0 h4, .spacious0 .h4,
.spacious0 h5, .spacious0 .h5,
.spacious0 h6, .spacious0 .h6 {
	margin: 0;
}

.spacious1 p {
	line-height: 150%;
	margin-bottom: 0.7em;
}

.spacious1 li,
.spacious1 h1, .spacious1 .h1,
.spacious1 h2, .spacious1 .h2,
.spacious1 h3, .spacious1 .h3,
.spacious1 h4, .spacious1 .h4,
.spacious1 h5, .spacious1 .h5,
.spacious1 h6, .spacious1 .h6 {
	margin-bottom: 0.5em;
}

.spacious2 p {
	line-height: 200%;
	margin-bottom: 1.2em;
}

.spacious2 li,
.spacious2 h1, .spacious2 .h1,
.spacious2 h2, .spacious2 .h2,
.spacious2 h3, .spacious2 .h3,
.spacious2 h4, .spacious2 .h4,
.spacious2 h5, .spacious2 .h5,
.spacious2 h6, .spacious2 .h6 {
	margin-bottom: 1em;
}

.spacious3 p {
	line-height: 250%;
	margin-bottom: 1.5em;
}

.spacious3 li,
.spacious3 h1, .spacious3 .h1,
.spacious3 h2, .spacious3 .h2,
.spacious3 h3, .spacious3 .h3,
.spacious3 h4, .spacious3 .h4,
.spacious3 h5, .spacious3 .h5,
.spacious3 h6, .spacious3 .h6 {
	margin-bottom: 1.2em;
}

.spacious0 p a:hover,
.spacious1 p a:hover,
.spacious2 p a:hover,
.spacious3 p a:hover,
.spacious0 p a:active,
.spacious1 p a:active,
.spacious2 p a:active,
.spacious3 p a:active {
	text-decoration: underline;
}

.spacious0 ul,
.spacious1 ul,
.spacious2 ul,
.spacious3 ul {
	list-style-type: square;
}

/* CV PAGE */

#cv {
	background: #f3f3f3 url('/images/paper.gif');
	color: #000000;
	padding: 10px;
}

.cv-item {
	margin-bottom: 20px;
}

.cv h2 {
	text-decoration: underline;
	margin-bottom: 1em;
	font-size: 20px;
	font-weight: bold;
}

.cv h3 {
	font-size: 18px;
	font-weight: bold;
}

.cv h4 {
	font-size: 16px;
}

.cv h5 {
	font-size: 14px;
	font-style: italic;
}

.cv ul {
	list-style-type: square;
}

/* JQUERY ACCORDION */

a.panel-heading-wrap:link,
a.panel-heading-wrap:visited,
a.panel-heading-wrap:active {
	color: #918383;
	text-decoration: none;
}

a.panel-heading-wrap:hover {
	color: #ffffff;
	text-decoration: none;
}

.panel-heading-wrap .panel-heading {
	background-color: #f5f5f5;
}

a.panel-heading-wrap:hover .panel-heading {
	background-color: #b73336;
}

.body-dark .panel-group {
	color: #6a5858;
}

.body-dark .panel {
	border-style: none;
}

.body-dark a.panel-heading-wrap {
	color: #ffffff;
}

.body-dark .panel-heading-wrap .panel-heading {
	background-color: #6a5858;
}

/* MISCELLANEOUS */

.no-bullet {
	list-style-type: none;
	list-style-position: inside;
	padding: 0;
	margin: 0;
}

.no-bullet li {
	margin-bottom: 0.5em;
}

.pull-left img {
	float: left;
	margin-right: 20px;
	margin-bottom: 10px;
}

.pull-right img {
	float: right;
	margin-left: 20px;
	margin-bottom: 10px;
}

.modal {
	overflow: auto;
	color: #333;
}

.fa-flickr {
	color: #fff;
	background-image: linear-gradient(to right, #0062da 50%, #ff0084 50%);
	background-size: 80% 80%;
	background-position:center;
	background-repeat: no-repeat;
}

.red {
	background-color: #d9534f;
}

.green {
	background-color: #5cb85c;
}

.blue {
	background-color: #428bca;
}

.cyan {
	background-color: #5bc0de;
}

.magenta {
	background-color: #d94fa0;
}

.orange {
	background-color: #f0ad4e;
}

.spacer5 { height: 5px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer10 { height: 10px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer15 { height: 15px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer20 { height: 20px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer25 { height: 25px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer30 { height: 30px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer35 { height: 35px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer40 { height: 40px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer45 { height: 45px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer50 { height: 50px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer100 { height: 100px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer200 { height: 200px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
