### Do only if rewrite is installed
<IfModule mod_rewrite.c>

### Start rewrite and set basedir
RewriteEngine on
RewriteBase /

### Rewrite without WWW
RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
RewriteRule ^(.*)$ http://%1%{REQUEST_URI} [R=301,QSA,NC]

### Rewrite only if no file link or dir exists
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-l

### Rewrite blog tag
RewriteRule ^blog/tag/([a-zA-Z0-9_-]+)$ /index.php?id=blog&tag=$1 [L,QSA]

### Rewrite blog entry
RewriteRule ^blog/([a-zA-Z0-9_-]+)$ /index.php?id=blog&entry=$1 [L,QSA]

### Rewrite anything else
RewriteRule ^([a-zA-Z0-9_-]+)$ /index.php?id=$1 [L,QSA]

</IfModule>
